@import "../color/color.rasi"


* {
    background-color: @background;
    text-color: @foreground;
    font: "Fira Mono 12";
}

configuration {
    show-icons: false;
    hover-select: true;
    click-to-exit: true;
}

window {
    background-color: @background;
    location: center;
    x-offset: 0;
    y-offset: 0;
    border: 1px solid;
    border-radius: 10;
    border-color: @alert;
    height: 95px;
    width: 11.02%;
}
