configuration {
    modes: [run, window, filebrowser, ssh];

    timeout {
        action: "kb-cancel";
        delay: 0;
    }

    filebrowser {
        directories-first: true;
        sorting-method: "name";
    }
}

window {
    children: [mode-switcher, mainbox];
}

element {
    orientation: horizontal;
    children: [ element-icon, element-text];
    spacing: 11px;
}
